<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1d5d75a1-6586-48a3-8b56-10ac0b437638/resourceGroups/JarvisSkill/providers/Microsoft.Web/sites/echoskillbot-jarvis</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://echoskillbot-jarvis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>echoskillbot-jarvis.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>echoskillbot-jarvis</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$echoskillbot-jarvis</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>